@font-face {
  font-family: horizon;
  src: url(./fonts/horizon.woff2) format("woff2");
}

@font-face {
  font-family: horizon-outline;
  src: url(./fonts/horizon_outlined.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-title {
  font-family: "horizon", sans-serif;
}

.glass-nav {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#mobile-nav.active {
  transform: translateX(100%);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider-container2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}
.swiper-container2 {
  width: 100%;
  height: 100vh;
}
.slider-container3 {
  position: relative;
  width: 50%;
  height: 60vh;
  overflow: hidden;
}

.swiper-container3 {
  width: 100%;
  height: 50vh;
}

.static-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.swiper-pagination-bullet {
  background: #fff;
  scale: 1.2;
}

.hero-title {
  font-family: "horizon-outline", sans-serif;
  color: white !important;
  font-weight: 900;
}

.hero-subtitle {
  color: white; /* Text color */
  text-shadow: 0 0 10px white; /* First layer of glow */
}

.buttons-container {
  padding: 20px;
  background: transparent;
  border-radius: 5px;
}

.glass-button {
  text-transform: uppercase;
  font-family: "horizon", sans-serif;
  padding: 15px 30px;
  font-size: 14px;
  color: white;
  background: rgba(73, 73, 73, 0.9);
  border-radius: 5px;
  box-shadow: 0 7px #6e6f71, 0 7px 7px 1px #4f4f4f, 0 0 #282b2f inset;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(128, 126, 126, 0.2);
  margin: 0 0 7px;
}

.glass-button {
  cursor: pointer;
  /* transform: rotateY(-35deg) rotateX(15deg); */
  transition: 0.5s;
}

.glass-button:hover {
  box-shadow: 0 0 #76787c, 0 0 #2f2f2f, 0 3px 14px #38393b inset;
  z-index: 3;
  margin: 7px 0 0;

}


.catalogue-section {
  background: url(./assets/_DSC7630.JPG) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  font-family: "horizon", sans-serif;
  font-weight: 200;
}

.glass-card {
  height: 200px;
  background: rgba(73, 73, 73, 1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.black{
  background: rgb(33, 33, 33);

}

@media (max-width: 1024px) {
  .glass-button {
    width: 100%;
    font-size: 12px;
  }
  .glass-card {
    height: inherit;
  }
  .static-text {
    width: 100%;
    padding: 0 5%;
  }

  .catalogue-section {
    background: url(./assets/_DSC7639.JPG) center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttons-container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(5px);
  }
  .logo-title {
    font-family: "horizon", sans-serif;
    font-weight: 700 !important;
  }

  .hero-title {
    font-family: "horizon", sans-serif;
    font-weight: 900;
    transform: translateZ(0);
    /* Will-change to optimize performance */
    will-change: transform;
  }

  .hero-subtitle {
    text-shadow: 0 0 0px white; /* First layer of glow */
  }
}

/* Histoire */

.histoire-section {
  background-image: url(./assets/_DSC7630.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offres-btn {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.histoire-h {
  font-weight: 700;
  font-size: 42px;
  font-family: "horizon-outline", sans-serif;
}

@media (max-width: 1024px) {
  .histoire-section {
    background-image: url(./assets/_DSC7629.JPG);
  }

  .histoire-h {
    font-size: 20px;
    font-family: "horizon", sans-serif;
  }
  .offres-btn {
    padding: 10px 30px;
  }
}

/* histoire end */

/* contact */

.contact-section {
  background-image: url(./assets/_DSC7626.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-text {
  font-weight: 600;
  font-size: 28px;
}

/* animation */


ul {
  list-style-type: none;
  perspective: 1800px;
}

ul li {
  cursor: pointer;
  transform: rotateY(-25deg) rotateX(15deg);
  position: absolute;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  transition: 0.7s;
}

ul li:nth-child(1) {
  top: 40px;
  z-index: 3;
}

ul li:nth-child(2) {
  top: 20px;
  z-index: 2;
  color: white;
}

ul li:nth-child(3) {
  top: 5px;
  z-index: 1;
}

ul li:nth-child(4) {
  /* top: 115px; */
  z-index: 0;
}

ul li:hover {
  transform: translateY(30px) rotateY(-25deg) rotateX(15deg) scale(1.1);
  z-index: 4;
}

@media (max-width: 1024px) {
  .contact-section {
    background-image: url(./assets/_DSC7625.JPG);
  }

  .contact-text {
    font-size: 18px;
  }
  .glass-button:hover {
    transform: scale(1.05);
  }
}

/* images section */

.images-section {
  background-image: url(./assets/_DSC7638.JPG);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-container3,
.slider-container4 {
  opacity: 0;
  transform: translateY(100px);
  animation: slideFrame 1.5s forwards;
}

@keyframes slideFrame {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slider-container4 {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
}

.swiper-container4 {
  width: 100%;
  height: 100vh;
}

.slider-container5 {
  height: 7vh;
  width: 100%;
  overflow: hidden;
}
.swiper-container5 {
  margin-top: 12px;
  width: 100%;
  height: 7vh;
}

@media (max-width: 540px) {
  .swiper-container4 {
    height: 50vh;
  }
  .slider-container4 {
    height: 60vh;
  }
  .video-mobile {
    width: 100%;
  }
}

@media (min-width: 541px) {
  .swiper-container4 {
    height: 55vh;
  }
  .slider-container4 {
    height: 60vh;
  }
  .video-mobile {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 1023px) {
  .images-section {
    background-image: url(./assets/_DSC7639.JPG);
    background-position: center;
  }
}

/* footer */

.title {
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.marquee-text {
  white-space: nowrap;
  opacity: 0.85;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-141.5vw, 0);
  }
}

@media (max-width: 640px) {
  .marquee-text {
    animation: marquee 10s linear infinite;
  }
}
